/*Add CSS styles here*/
#map {    
    height: 400px;    
    width: 70%;
    display: inline-block;
    }

#panel {    
        width: 25%;    
        padding: 20px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        line-height: 42px;
    }
.leaflet-popup-content p {
    margin: 0.2em 0;
}

